
:root{
  --main-color:#B05C26;
  --sacondary-color:#1C00FF;
}
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  direction: rtl;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Tajawal', sans-serif;

}
h1,h2,li,h3{
  color: #5C332B;
  font-size: 40px;
}
body{
  font-family: 'Montserrat', sans-serif;
font-family: 'Tajawal', sans-serif;
}
